doctype html
html
  head
    title Socket.ppt
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, user-scalable=no,initial-scale=1,minimum-scale=1,maximum-scale=1')
    meta(content='telephone=no', name='format-detection')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    link(rel='stylesheet', type='text/css', href='/css/style.css')
  body
    section.back-broad
      #ppt_list.back-broad-inner.ppt-item1
        .ppt-item.box.box1
          .m-wrap.flexbox.v-center.h-center
            h4 以下就是我这段时间的实习汇报
        .ppt-item.box.box2
          .m-wrap.flexbox.v-center.h-center
            h4 软件工程专业
            h4 机动组，主要做前端
            h4 造玩具
            h4 享受
        .ppt-item.box.box3
          .m-wrap.flexbox.v-center.h-center
            h4 Canvas
            h4 物理，碰撞检测
            h4 模仿iOS
        .ppt-item.box.box4
          .m-wrap.flexbox.v-center.h-center
            h4 游华农 查宿舍 查看宿舍全景
        .ppt-item.box.box5
          .m-wrap.flexbox.v-center.h-center
            h4 前端 分配任务
            h4 模块化
        .ppt-item.box.box7
          .m-wrap.flexbox.v-center.h-center
            h4 需求 QQ健康 改版 主页 PK页 数据页改版
            h4 Jade Sass rem
        .ppt-item.box.box8
          .m-wrap.flexbox.v-center.h-center
            h4 第一个改版
            h4 推广功能，吸引用户点击
        .ppt-item.box.box9
          .m-wrap.flexbox.v-center.h-center
            h4 访问量提升，按钮的访问量为所有按钮中最高～
        .ppt-item.box.box10
          .m-wrap.flexbox.v-center.h-center
            h4 主页先改
            h4 风格统一
            h4 修改数据详情页
        .ppt-item.box.bo11
          .m-wrap.flexbox.v-center.h-center
            h4 还原设计稿，静态的
        .ppt-item.box.box12
          .m-wrap.flexbox.v-center.h-center
            h4 基本需求完成了，不足够
        .ppt-item.box.box13
          .m-wrap.flexbox.v-center.h-center
            h4 商量，添加动效
            h4 上KM以及code看看有没有这方面的积累
            h4 没有，自己造~
            h4 运用CSS3
            h4 还原了下雨下雪以及沙尘暴的效果
              
        .ppt-item.box.box14
          .m-wrap.flexbox.v-center.h-center
            h4 设计师反映雨点太少
            h4 雨点数目多，帧数降低，有明显的卡顿
            h4 对比了一下百度的下雨效果
            h4 开始Canvas版本
        .ppt-item.box.box15
          .m-wrap.flexbox.v-center.h-center
            h4 比较Css3与Canvas的效率
            h4 300雨滴,CSS3红米为测试机有卡顿感，Canvas非常流畅
            h4 低端老旧华为测试机帧数12左右，Canvas帧数30以上
        .ppt-item.box.box16
          .m-wrap.flexbox.v-center.h-center
            h4 之前有积累，这个项目与css时间差别不大
        .ppt-item.box.box18
          .m-wrap.flexbox.v-center.h-center
            h4 异步请求Dom -> 还原结构直出
            h4 简繁插件 上下篇 评论逻辑
        .ppt-item.box.box21
          .m-wrap.flexbox.v-center.h-center
            h4 以项目学习，对比NodePPT
            h4 多屏幕同时访问PPT (清晰度)
            h4 读PPT中途往回看
            h4 备注 跳到某一页
            h4 Express 访问路由 中间件
        .ppt-item.box.box23
          .m-wrap.flexbox.v-center.h-center
            h4 第一次与其他组的前端合作，alloyteam的体校毕业的前端负责服务器以及后台
            h4 两个港科大的同学，家奇，不会中文的Nina
            h4 第一次通过英文进行项目构建交流
        .ppt-item.box.box24
          .m-wrap.flexbox.v-center.h-center
            h4 Material Design的设计方式
            h4 会后询问评委
            h4 玩Hackthon这些比赛，创意，要先觉得做的东西有意思，自己做得爽，好东西
            h4 不是页面漂亮即可，漂亮只是一种表达的方式，明白真正的目的再对症下药
        .ppt-item.box.box25
          .m-wrap.flexbox.v-center.h-center
            h4 吸取上次的经验
            h4 首先要闭环
            h4 思考要表达什么
            h4 爱心包裹 捐款 传播 共鸣 直接帮助or种子
        .ppt-item.box.box26
          .m-wrap.flexbox.v-center.h-center
            h4 讨论以后出设计稿，只有四张，串故事
            h4 自己创造，连接，想动画
            h4 投入越多，更能共鸣
        .ppt-item.box.box28
          .m-wrap.flexbox.v-center.h-center
            h4 有时候玩具来得比较冲动
            h4 七夕，两个多小时，给一个单身狗
            h4 先canvas画，再css画心型
            h4 还有很多玩具，并没有放上去
        .ppt-item.box.box29
          .m-wrap.flexbox.v-center.h-center
            h4 乔布斯 斯坦福
            h4 全球概览
            h4 永不止步
            h4 保持对世界的好奇心
        .ppt-item.box.box30
          .m-wrap.flexbox.v-center.h-center
            h4 和团队一起分享，交流
        .ppt-item.box.box31
          .m-wrap.flexbox.v-center.h-center
            h4 Why是关键
            h4 了解好对应的目的，也许可以Better
            h4 设计交流会的一个问题，重构改UI开发的意义
            h4 嘉宾，关键不在职称，怎么做，取决于自己
        .ppt-item.box.box32
          .m-wrap.flexbox.v-center.h-center
            h4 脱稿吧
    section.selector-wrap
      #selector_list.selector-inner.scrollable
        .select-item.box1
          .select-item-inner
            h4.hint-words 首页 1
        .select-item.box2
          .select-item-inner
            h4.hint-words 自我介绍 2
        .select-item.box3
          .select-item-inner
            h4.hint-words 玩具 3
        .select-item.box4
          .select-item-inner
            h4.hint-words 功能页 4
        .select-item.box5
          .select-item-inner
            h4.hint-words 创业时光 5
        .select-item.box7
          .select-item-inner
            h4.hint-words 项目产出 7
        .select-item.box8
          .select-item-inner
            h4.hint-words 入口动画 8
        .select-item.box10
          .select-item-inner
            h4.hint-words 天气介绍 10
        .select-item.box11
          .select-item-inner
            h4.hint-words 天气对比 11
        .select-item.box12
          .select-item-inner
            h4.hint-words Not Found 12
        .select-item.box13
          .select-item-inner
            h4.hint-words 天气DEMO 13
            .select-item.box14
          .select-item-inner
            h4.hint-words 丢帧 14
        .select-item.box15
          .select-item-inner
            h4.hint-words 天气Canvas 15
        .select-item.box16
          .select-item-inner
            h4.hint-words 天气结论 16
        .select-item.box18
          .select-item-inner
            h4.hint-words ISUX Blog 18
        .select-item.box19
          .select-item-inner
            h4.hint-words 设计中心管理 19
        .select-item.box21
          .select-item-inner
            h4.hint-words Socket PPT 21
        .select-item.box23
          .select-item-inner
            h4.hint-words Hackthon 23
        .select-item.box25
          .select-item-inner
            h4.hint-words 创益24小时 25
        .select-item.box28
          .select-item-inner
            h4.hint-words 我的主页 28
        .select-item.box29
          .select-item-inner
            h4.hint-words 我的想法 29
        .select-item.box30
          .select-item-inner
            h4.hint-words react 30
        .select-item.box31
          .select-item-inner
            h4.hint-words 实习感想 31
        .select-item.box32
          .select-item-inner
            h4.hint-words last 32
      #drap_btn.drap-btn 
    script(type='text/javascript', src='/js/zepto.js')
    script(type='text/javascript', src='/js/controller.js')
