.selector-wrap {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	background-color: #fff;

	-webkit-transition: -webkit-transform 0.8s;
	-webkit-transform: translate3d(100%,-100%,0);

	&:before {
		content: "";
		position: absolute;
		right: 100%;
		top: 0;
		width: 40px;
		height: 100%;
		background-color: #fff;

		-webkit-transition: width 0.4s;
	}

	&:after {
		content: "";
		position: absolute;
		left: 0;
		top: 100%;
		width: 100%;
		height: 40px;
		background-color: #fff;

		-webkit-transition: height 0.4s;
	}

	&.show {
		-webkit-transform: translate3d(0,0%,0);

		.drap-btn {
			-webkit-transform: rotateX(180deg) rotateY(180deg);
		}

		&:before {
			width: 0px;
		}

		&:after {
			height: 0px;
		}
	}

	.selector-inner {
		position: relative;
		height: 100%;
		overflow: scroll;
		z-index: -10;
	}

	.select-item {
		position: relative;
		width: 50%;
		padding-bottom: 50%;
		float: left;

		.select-item-inner {
			position: absolute;
			left: 10px;
			top: 10px;
			right: 10px;
			bottom: 10px;

			background-color: rgb(200,200,200);

			&:active {
				opacity: 0.5;
			}
		}
	}
}


.drap-btn{
	position: absolute;
	top: 100%;
	left: -40px;
	width: 40px;
	height: 40px;
	z-index: 10;
 
	-webkit-transition: -webkit-transform 0.4s;
	-webkit-transform-origin: right top;
	-webkit-transform: rotateX(0) rotateY(0);

	&:before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		width: 0;
	    height: 0;
	    
	    border-width: 0 40px 40px 0;
	    border-style: solid;
	    border-color: #fff #fff rgb(220,220,220) rgb(220,220,220);

	    box-shadow: -1px 1px 1px rgba(0,0,0,0.3);
	}
}



